<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layout/base.html}">

<head>
    <!-- FontAwesome CDN 추가 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>

<div layout:fragment="content" class="col-9 mx-auto" style="text-align: center; margin-top: 100px; margin-bottom: 200px;">
    <div>
        <h3 class="mb-2" style="display: inline-block; color: #333;">이용약관</h3>
        <hr class="mb-6" style="margin-bottom: 40px; margin-top: 40px; border: 1px solid #555;">
    </div>

    <div style="font-size: 1.1rem; line-height: 1.8; color: #444; padding: 0 20px; text-align: left;">
        <h4 style="margin-bottom: 20px; color: #333;">서비스 이용 약관</h4>
        <p style="margin-bottom: 30px;">
            안녕하세요! 한국 힙합 앨범 리뷰 서비스입니다.<br>
            우리 서비스를 이용해주셔서 감사합니다. 아래 내용을 확인해주세요:
        </p>

        <p style="margin-bottom: 30px;">
            1. 욕설, 비방, 혐오 발언은 안돼요!<br>
            2. 남의 리뷰 퍼가지 마세요. (저작권 문제가 발생할 수 있어요)<br>
            3. 부적절한 프로필 사진은 통보 없이 삭제될 수 있어요<br>
            4. 스팸이나 광고성 글은 제재 대상이에요<br>
            5. 탈퇴하시면 작성하신 리뷰를 제외한 모든 개인정보는 삭제됩니다
        </p>

        <p style="margin-bottom: 30px;">
            위 규칙을 위반하시면 경고 없이 이용이 제한될 수 있어요.<br>
            즐겁고 건전한 힙합 커뮤니티를 만들어가요! 😊
        </p>
    </div>
</div>

<script layout:fragment="script" th:inline="javascript">
</script>
</html>
